body{
    font-family: "Roboto", sans-serif;
}

.photos-above img{
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}
.photos-down img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    
    
}

.photos-above{
    display: flex;  
    justify-content: center;
}

.photos-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -50px;
    position: relative;
    z-index: 1;

}

.profile-photos-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#profile-desc{
    text-align: center;
}

.upper{
    display: block;
    position:relative;
}

.profile-photos-button{
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -50%);
}


.color {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(83deg, rgba(153, 32, 151, 1) 20%, rgba(245, 17, 17, 1) 47%, rgba(232, 211, 23, 1) 76%, rgba(23, 232, 229, 1) 100%);
    padding: 8px 16px;
    border-radius: 20px;
   

}

.color a {
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.profile-desc-main ul li{
    font-weight: bold;
    list-style: none;
    margin: 30px;
} 

.profile-desc-socialmedias{
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 50px;
    
}