.header-color{
    background-color: blue;
    margin-right: 1000px;
    height: 35px;
}

.header-button{
    position: relative;
    bottom: 25px;
    color: white;

}
.header-main{
    display: flex;
    gap:20px;
    justify-content: space-between;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


.header-text{
    margin:auto;
}

#product{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.product-left h1{
    font-size:24px;
}

.product-image img{
    width:250px;
    margin-top:15px;
}

.product-right{
    max-width:300px;
}

.product-icon{
    display:flex;
    align-items:center;
    gap:5px;
    margin-top:10px;
    color:gold;
}

.author{
    text-align:center;
    margin:30px 0 10px;
}

.card{
    background:#1e3a8a;
    color:#fff;
    text-align:center;
    padding:12px;
    width:200px;
    margin:0 auto 30px;
    border-radius:6px;
}
